.close {
  border-radius: 10px;
  border: 2px red;
  background: #555b;
  color: #fff;
  width: 14px;
  height: 14px;
  position: absolute;
  right: -7px;
  top: -5px;
  cursor: pointer;
}

.close > span {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 14px;
  font-weight: 900;
}

.fullscreen {
  position: fixed !important;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 101;
  display: flex;
  background: #000;
  align-items: center;
  justify-content: center;
  margin: initial !important;
}

.fullscreen img {
  height: initial !important;
  width: initial !important;
  max-width: 100%;
  max-height: 100%;
}

.fullscreen .close {
  display: none;
}
