@import '../../../components/variables.css';

:root {
  --title-size: 14px;
  --title-weight: 700;
  --container-p: 16px;
  --btn-transition-duration: 200ms, 200ms, 200ms, 0.3s;
  --login-width: 35rem;
  --login-border: 1px solid var(--c-ui-light);
}

.container {
  padding: var(--container-p);
  text-align: center;
}

.submitBtn {
  display: none;
}

.title {
  font-weight: var(--title-weight);
  font-size: var(--title-size);
  color: var(--c-text);
  font-style: italic;
  text-align: center;
}

.groupBtn {
  text-align: center;
  padding-top: var(--b-space-md);
}

@media (--sm-min) {
  .login {
    display: inline-block;
    width: var(--login-width);
    padding: var(--b-space-xl) var(--b-space-3xl);
    border: var(--login-border);
  }
}
