@import '../../components/variables.css';

hr {
  border: 1px solid var(--c-brand-4);
  margin: 0;
}

.invoice {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--size-08) var(--size-14) var(--size-10);
}

.top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header {
  font-size: var(--font-size);
  font-weight: var(--font-weight-500);
}

.date {
  font-size: var(--font-size-label);
  font-weight: var(--font-weight-400);
}

.label {
  font-size: var(--font-size-label);
}

.cabinet {
  text-align: center;
  margin: auto var(--size-02);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.cabinet div:first-child {
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-header);
}

.middle {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: var(--size-10) auto var(--size-08);
}

.middle span:first-child {
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-500);
}

.rowTotal {
  width: 100%;
  display: flex;
  margin: var(--size-18) auto auto;
}

.statistic {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.statistic div:first-child {
  font-size: var(--font-size-title);
}

.statistic div:last-child {
  font-size: var(--font-size-label);
}

.bottom {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
