:root {
  --sa-width: 50%;
}

.item {
  margin-bottom: var(--b-space-xs);
}

.itemHeading {
  display: block;
  font-weight: 600;
}

.summary {
  & h4 {
    color: var(--c-brand);
    margin-bottom: var(--b-space-2xs);
  }
}

/* .halfSection {
  width: 50%;
  float: left;
} */

.modalFooter {
  display: flex;
  background-color: var(--c-brand);
  color: white;
  text-align: center;
  height: var(--b-space-3xl);

  & h5 {
    font-weight: var(--font-weight-normal);
    margin: auto;
  }
}

.modalBody {
  text-align: center;
  color: var(--c-text);
  font-size: var(--f-text);
  font-style: italic;
  padding-bottom: var(--b-space-md);

  & h3 {
    font-style: normal;
  }

  & p {
    text-align: left;
  }
}

.halfButton {
  flex: 0 0 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--b-space-3xl);

  &:not(:last-of-type) {
    border-right: var(--b-space-3xs) solid var(--c-ui-lighter);
  }
}

.notAcceptButton {
  display: flex;
  height: var(--b-space-3xl);
  justify-content: center;
  align-items: center;
}

.firstHeading {
  margin-top: var(--b-space-lg);
}

.secondHeading {
  margin-top: var(--b-space-md);
}

.helpIcon {
  padding: 0;
  margin-top: -5px;
  line-height: 24px;
}

.helpIcon:not([disabled]) span {
  color: var(--c-label);
}

h4.saHeading {
  flex: 0 0 var(--sa-width);
  color: var(--c-label);
}

.inputSa {
  margin-top: var(--b-space-2xs);
}
