@import '../../../components/variables.css';

:root {
  --title-size: 14px;
  --title-weight: 700;
  --container-p: 16px;
  --btn-transition-duration: 200ms, 200ms, 200ms, 0.3s;
  --upload-form-width: 40rem;
  --upload-border: 1px solid var(--c-ui-light);
  --note-size: 14px;
  --note-detail-size: 12px;
}

.container {
  padding: var(--container-p);
  text-align: center;
}

.title {
  font-weight: var(--title-weight);
  font-size: var(--title-size);
  color: var(--c-text);
  font-style: oblique;
  text-align: center;
}

.groupBtn {
  text-align: center;
}

.note {
  text-align: left;
  font-style: italic;
  font-size: var(--note-size);
}

.note ul {
  font-style: italic;
  font-size: var(--note-detail-size);
}

.inputFileField {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--b-space-md);
  transition: all 0.2s ease;

  &:hover {
    cursor: pointer;
  }
}

.inputFileFieldNormal {
  border-bottom: var(--b-space-3xs) solid var(--c-ui-normal);
}

.inputFileFieldError {
  border-bottom: var(--b-space-3xs) solid var(--c-brand);
}

.inputFileText {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  user-select: none;
}

.icon {
  color: var(--c-brand);
  margin-top: var(--b-space-2xs);
}

.text {
  margin-left: var(--b-space-sm);
}

.statusIcon {
  width: var(--b-space-lg);
}

.inputFileError {
  color: var(--c-brand);
}

.inputFileSuccess {
  color: var(--c-success);
}

.popUp {
  & > div:nth-child(2) {
    margin-top: calc(var(--b-space-3xs) * -5);
  }
}

@media (--sm-min) {
  .uploadForm {
    display: inline-block;
    width: var(--upload-form-width);
    padding: var(--b-space-xl) var(--b-space-3xl);
    border: var(--upload-border);
  }
}
