@import '../../../components/variables.css';

.textSMS {
  margin: 0 var(--size-24);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: var(--c-triad-01);
}

.textSMS span {
  font-weight: var(--font-weight-500);
  color: var(--c-triad-06);
}

.verifyCodeWrapper {
  margin: 0 var(--size-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.verifyCode {
  height: var(--size-input-height);
  font-size: var(--font-size-input);
  letter-spacing: var(--size-02);
  text-align: center;
}

.resendOTP {
  color: var(--c-triad-05);
  margin: var(--size-padding);
  font-size: var(--font-size-label);
  cursor: pointer;
}
