@import '../variables.css';

.button {
  width: var(--max-input-width);
  padding: var(--size-12) var(--size-10);
  border: var(--size-01) solid var(--c-brand-3);
  border-radius: var(--size-28);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-sizing: border-box;
  color: var(--c-text-lighter);
  background: linear-gradient(to bottom, var(--c-brand-1), var(--c-brand-3));
}

.button:hover {
  background: linear-gradient(to top, var(--c-brand-1), var(--c-brand-3));
  color: var(--c-bg-light);
}

.label {
  font-size: var(--font-size);
  margin: auto var(--size-08);
  color: inherit;
  text-transform: uppercase;
}

.buttonDisabled,
.buttonDisabled:hover {
  color: var(--c-gray) !important;
  border-color: var(--c-bg-light);
  background: var(--c-bg-light);
  cursor: not-allowed;
}

.icon {
  width: auto;
  height: auto;
  padding: var(--size-10);
}

.buttonText {
  background: transparent;
  border: unset;
  width: auto;
  color: inherit;
  border-radius: var(--size-radius-standard);
}

.buttonText:hover {
  background: transparent;
  box-shadow: 5px 5px 25px 5px var(--c-gray);
  color: inherit;
}
