@import '../variables.css';

.toolBar {
  width: 100%;
  height: var(--size-56);
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  border-top: var(--size-01) solid var(--c-smoke);
  box-sizing: border-box;
}

.tab {
  width: 25%;
  border-right: var(--size-01) solid var(--c-smoke);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: var(--font-size-12);
  cursor: pointer;
  text-transform: capitalize;
  transition: all 0.3s ease-in;
  background-color: var(--c-bright);
}

.activeTab {
  background: linear-gradient(to top, var(--c-brand-1), var(--c-bright));
}

.activeTab div {
  color: var(--c-text-bright);
  font-weight: var(--font-weight-500);
}

.toolBar .tab:last-child {
  border: none;
}
