/**
* * Private variables:
*/

.root {
  background-color: transparent;
  border: none;
  padding: 0;
  height: 19px;
}

.root:focus {
  outline: none;
}

.close {
  background-color: transparent;
  position: fixed;
  top: 30px;
  right: calc(70vw - 20px);
  z-index: 2;
}

.root > span {
  height: 3px;
  width: 20px;
  display: block;
  background-color: var(--c-ui-lighter);
}

.close > span {
  background-color: var(--c-ui-lighter);
  position: absolute;
  margin: 0;
  top: 0;
}

.close > span:nth-child(1) {
  transform-origin: 50% 50%;
  transform: rotate(-135deg);
}

.close > span:nth-child(2) {
  transform-origin: 50% 50%;
  transform: rotate(135deg);
}

.close > span:nth-child(3) {
  display: none;
}

.root > span:not(:last-child) {
  margin-bottom: 5px;
}
