@import '../variables.css';

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: var(--z-index-high);
}

.modal {
  border-radius: var(--size-radius-standard);
  max-width: var(--max-content-width);
  min-width: var(--min-content-width);
  background: var(--c-bg-light);
  overflow: hidden;
  margin: var(--size-10);
}

.title {
  background: var(--c-triad-06);
  padding: var(--size-10);
  font-size: var(--font-size-input);
  font-weight: var(--font-weight-700);
  text-transform: uppercase;
  color: var(--c-bright);
  border-bottom: var(--size-01) solid var(--c-error);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  padding: var(--size-10);
  min-height: var(--modal-content-width);
  color: var(--c-brand-1);
}

.cta {
  cursor: pointer;
}
