:root {
  --option-bg-color: white;
  --option-hover-bg-color: #f5f7fa;
  --option-color: #606266;
  --option-color-disabled: #c0c4cc;
  --option-p-x: 0.75em;
  --option-p-y: 0.5em;
}

.option {
  background-color: var(--option-bg-color);
  cursor: pointer;

  &:hover {
    background-color: var(--option-hover-bg-color);
  }
}

.optionLink {
  padding: var(--option-p-y) var(--option-p-x);
  display: block;
  position: relative;
}

.optionDisable {
  cursor: not-allowed;

  &:hover {
    background-color: var(--option-bg-color);
  }
}

.option .optionLink {
  color: var(--option-color);
}

.optionDisable .optionLink {
  color: var(--option-color-disabled);
}
