@import '../../variables.css';

.button {
  margin: var(--size-06);
  padding: var(--size-08) var(--size-18);
  border: var(--size-01) solid var(--c-brand-1);
  display: flex;
  align-items: center;
}

.button:hover {
  cursor: pointer;
}

.label {
  margin: auto var(--size-08);
  color: inherit;
}
