@import '../../variables.css';

.button {
  margin: var(--size-06);
  padding: var(--size-12) var(--size-24);
  border: var(--size-01) solid var(--c-brand-1);
  border-radius: var(--size-28);
  display: flex;
  align-items: center;
}

.button:hover {
  cursor: pointer;
}

.label {
  font-size: var(--font-size-label);
  margin: auto var(--size-08);
  color: inherit;
}

.disabled {
  color: var(--c-gray);
  border-color: var(--c-bg-light);
  background: var(--c-bg-light);
}
