@import '../../../components/variables.css';

.container {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.register {
  color: var(--c-brand-3);
  text-align: center;
  border: 1px solid var(--c-bright);
  padding: var(--size-22) var(--size-12);
  border-radius: var(--size-08);
}

.greetingLogo {
  width: var(--size-64);
  margin-bottom: var(--size-14);
}

.login {
  margin-top: var(--size-08);
  color: var(--c-brand-5);
}

.login span {
  text-transform: uppercase;
  text-decoration: underline;
  color: var(--c-error);
}
