@import '../variables.css';

.container {
  background: linear-gradient(to bottom, var(--c-brand-1), var(--c-brand-3));
  height: var(--size-header-bar);
  font-size: var(--font-size-header);
  color: var(--c-bright);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: var(--size-16);
  text-transform: capitalize;
  position: relative;
}

.gutter {
  margin-bottom: 0;
}

.button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.left {
  left: var(--size-18);
}

.right {
  right: var(--size-18);
}
