.inputWrapper {
  width: auto;
  height: var(--size-input-wrapper-height);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: var(--size-10) 0;
  position: relative;
}

.inputWrapperGutter {
  margin-bottom: 0;
}

input {
  width: 100%;
  height: var(--size-input-height);
  border: var(--size-01) solid var(--c-input-border);
  border-radius: var(--size-radius-standard);
  font-size: var(--font-size-input);
  letter-spacing: var(--size-02);
  padding: 0 var(--size-12);
}

input::placeholder {
  color: var(--c-gray);
  font-style: italic;
  font-weight: var(--font-weight-300);
}

.label {
  position: absolute;
  top: calc(var(--size-16) * -1.2);
  font-size: var(--font-size-label);
  color: var(--c-text-dark);
  font-weight: var(--font-weight-500);
}

.search {
  position: absolute;
  right: var(--size-04);
  top: var(--size-02);
}

.errorMessage {
  position: absolute;
  bottom: var(--size-06);
  right: 0;
  text-align: left;
  font-size: var(--font-size-label);
  color: var(--c-error);
  font-style: italic;
  opacity: 0.3;
}
