@import '../../variables.css';

:root {
  --label-font-size: 14px;
  --option-font-size: 14px;
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
  color: var(--c-text);
}

.dropbtn {
  padding: 4px 0;
  font-size: var(--label-font-size);
  cursor: pointer;
  border-bottom: 1px solid var(--border-color);
  transition: border var(--animation-delay) ease-out;
  outline: none;
}

.dropbtn span {
  position: absolute;
  right: var(--b-space-md);
  font-size: var(--f-headline);
}

.content {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  overflow: auto;
  border: 2px solid var(--color-border-input);
  border-top: none;
  z-index: 99;
  width: calc(100% - 2px);
  margin-left: 1px;
  background-color: rgba(255, 255, 255, 0.97);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  transition: all 0.18s cubic-bezier(0.48, 0.83, 0.5, 0.27);
  transform: translateY(-5px);
  max-height: 300px;
}

.content > span {
  color: var(--text-color);
  padding: var(--b-space-xs) var(--b-space-md);
  text-decoration: none;
  display: block;
  cursor: pointer;
  font-size: var(--option-font-size);
}

.content > span:hover {
  background-color: var(--c-bg);
}

.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.withEffect {
  border: 0;
  padding: 7px 0;
  border-bottom: 2px solid var(--border-color);
}

.withEffect ~ .focusBorder {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: var(--c-brand);
  transition: 0.15s;
}

.withEffect:focus ~ .focusBorder,
.withEffect:active ~ .focusBorder {
  width: 100%;
  transition: 0.15s;
  left: 0;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: none;
  border: none;
  width: 100%;
  height: 100%;
}
