@import '../../../components/variables.css';

.register {
  color: var(--c-brand-3);
  padding: var(--size-22) var(--size-12);
  margin: auto;
  border: 1px solid var(--c-input-border);
  border-radius: var(--size-08);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.greetingLogo {
  width: var(--size-64);
  margin: var(--size-14) auto;
}

.creatingForm {
  width: 100%;
}

.policiesAndTerms {
  position: absolute;
  bottom: var(--size-72);
  left: 50%;
  transform: translateX(-50%);
}

.policiesAndTerms div {
  color: var(--c-triad-03);
  width: 100%;
}

.policiesAndTerms input[type=checkbox]:checked {
  color: var(--c-triad-06) !important;
  background: var(--c-triad-03);
}

.button {
  margin: var(--size-36) auto auto;
}

.readingPolicies {
  text-align: center;
  width: 100%;
  color: var(--c-triad-06);
  font-size: var(--font-size-label);
  margin: var(--size-18) auto;
}
