@import '../../components/variables.css';

.unSupport {
  font-family: var(--font-family-base);
  padding: var(--size-30) var(--size-16) 0;
  color: var(--c-triad-01);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo {
  width: var(--home-logo-width);
  height: var(--home-logo-width);
  display: flex;
  justify-content: center;
}

.notFound {
  margin: var(--size-32) auto;
  font-size: var(--font-size-44);
  color: var(--c-triad-08);
  font-weight: var(--font-weight-700);
  text-decoration: underline;
}

.copyRight {
  width: var(--home-brand-width);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: var(--size-18);
}

.copyRight span {
  padding-right: var(--size-10);
}
