@import '../../../components/variables.css';

.container {
  width: 100%;
  height: 100%;
  position: relative;
  color: var(--c-brand-1);
}

.formInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--size-padding);
}

.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--c-bright);
  margin: var(--size-04) auto;
  padding: 0 var(--size-padding);
}

.title {
  color: var(--c-title);
  font-size: var(--font-size);
  font-weight: var(--font-weight-500);
  margin: var(--size-04) auto var(--size-08);
}

.items {
  width: 100%;
}
