@import '../../../components/variables.css';

.store {
  border-top: var(--size-24) solid var(--c-brand-4);
  background: linear-gradient(to bottom right, var(--c-brand-4), var(--c-brand-5));
  box-shadow: var(--size-02) var(--size-04) var(--size-10) var(--c-gray);
  margin: 0 var(--size-12) var(--size-12);
  border-radius: var(--size-06);
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  padding: var(--size-08);
  align-items: center;
}

.title {
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-600);
  margin-bottom: var(--size-08);
}

.items {
  display: flex;
  align-items: center;
  margin-bottom: var(--size-08);
}

.icon {
  margin: var(--size-06);
}

.address {
  margin: auto var(--size-06);
  font-size: var(--font-size-header);
}

.actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: var(--size-06) 0 0;
  border-top: var(--size-01) solid var(--c-bright);
}

.cta {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--size-16) var(--size-08);
  width: 50%;
  cursor: pointer;
}

.actions .cta:first-child {
  border-right: var(--size-01) solid var(--c-bright);
}

.ctaText {
  margin: auto var(--size-08);
  font-size: var(--font-size-header);
  color: var(--c-bright);
}

.ctaText:hover {
  font-weight: var(--font-weight-600);
}

.newShop {
  position: absolute;
  bottom: var(--size-padding);
  width: 100%;
  display: flex;
  justify-content: center;
}
